@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face { font-family: josefin-sans; src: url("/public/assets/JosefinSans-Thin.ttf"); } 

  .default {
    font-family: josefin-sans;
    background-color: lightgreen;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgreen;
    padding: 30px 50px;
  }
  .myfooter {
    display: flex;
    justify-content: space-evenly;
    background-color: darkgreen;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    padding: 10px;
  }
  
  
